.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 0 30px;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 9998;
  max-width: 720px;

  &-inner {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 0;

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999;
      color: #000;
      background: #fff;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-icon {
        width: 16px;
        height: 16px;
      }
    }

    &-slide {
      width: 100%;
    }
  }
}
